body{
    background-color: #444C5D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.cal_bg{
    padding: 3dvh;
    background-color:white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80dvw;
}
    
h3{
    font-size: 30px;
    margin: 2dvh;
    color: #444C5D ;
    font-family: monospace;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1dvh;
    
}

input{
    text-overflow: ellipsis;
    padding: 2dvh;
    margin: 2dvh 0px;
    width: 60dvw;
    border-radius: 10px;
    background-color: #ECEFF4 ;
    font-family: monospace;
    border: 0;
    font-size: 20px;
}

button{
    padding: 2dvh;
    width: 61dvw;
    margin: 1dvh;
    border-radius: 25px;
    cursor: pointer;
    background-color: #87C0D0;
    color: white;
    font-size: 17px;
    font-family: monospace;
    border: none;
    text-align: center;
    transition: all 0.5s;  
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\20B9';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.result{
    color: #87C0D0;
    height: 5dvh;
    font-size: large;
    text-align: center;
    cursor: not-allowed;
    font-family: monospace;
    overflow: scroll;
}
label{
    margin: 1dvh;
    font-size: large;
    font-family: monospace;
    
}

